#
Project-Guide

#
*.csv
*credentials*
*accessKeys*
*secrets*
*.pem
*.key

# Terraform
.terraform/
.terragrunt-cache/
*.tfstate
*.tfstate.*
.terraform.lock.hcl

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
